<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network for Retrofit/TheCocktailDB -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MixMateApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MixMate"
        tools:targetApi="31">

        <!-- Our new screens -->
        <activity android:name=".FavouritesActivity" android:exported="false" />
        <activity android:name=".ui.details.RecipeDetailsActivity" android:exported="false" />

        <!-- Keep teammates’ screens -->
        <activity android:name=".SettingsActivity" android:exported="false" />
        <activity android:name=".SubmitRecipeActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />

        <!-- Existing app screens -->
        <activity android:name=".HomePage" android:exported="false" />
        <activity android:name=".SignUpPage" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />

        <!-- Single launcher (keep the one your app uses; Discover is fine) -->
        <activity android:name=".DiscoverPage" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- If master already had a different details screen, keep it too -->
        <activity android:name=".RecipeDetailActivity" android:exported="false" />
    </application>
</manifest>
